@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ================================
   SOCIALPANGA STYLE - GLOBAL CSS
   ================================ */

/* VARIABLES */
:root {
    --font-base: "Montserrat", sans-serif;
    ;
    --font-heading: "Montserrat", sans-serif;

    --color-text: #030200;
    --color-muted: #666;
    --color-primary: #F8D200;
    /* Panga Yellow */
    --color-primary-dark: #F8D200;
    --color-black: #000;
    --color-bg: #fff;

    --radius: 10px;
    --transition: 200ms ease;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

*,
*:before,
*:after {
    box-sizing: inherit
}



button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: var(--font-base);
    font-size: 1rem;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both
}

p {
    margin-bottom: 1.5em
}

dfn,
cite,
em,
i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", courier, monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none
}

big {
    font-size: 125%
}

body {
    background: #fff
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ul,
ol {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em
}


embed,
iframe,
object {
    max-width: 100%
}

/* img {
    height: auto;
    max-width: 100%
} */

a {
    color: #4169e1
}

a:visited {
    color: purple
}

a:hover,
a:focus,
a:active {
    color: #191970
}

a:focus {
    outline: thin dotted
}

a:hover,
a:active {
    outline: 0
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    line-height: 1;
    padding: .6em 1em .4em
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    border-color: #ccc #bbb #aaa
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
    border-color: #aaa #bbb #bbb
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
    color: #111
}

select {
    border: 1px solid #ccc
}

textarea {
    width: 100%
}

.main-navigation {
    display: block;
    width: 100%
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
    display: block;
    left: auto
}

.main-navigation ul ul a {
    width: 200px
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto
}

.main-navigation li {
    position: relative
}

.main-navigation a {
    display: block;
    text-decoration: none
}

.menu-toggle,
.main-navigation.toggled ul {
    display: block
}

@media screen and (min-width:37.5em) {
    .menu-toggle {
        display: none
    }

    .main-navigation ul {
        display: flex
    }
}




/*** Header ***/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4rem 16px 1rem;
    height: 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo a {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo a:hover {
    color: #3498db;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    position: relative;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

.nav-item .nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-item:hover .nav-icon {
    opacity: 1;
}

.nav-item.active .nav-icon {
    opacity: 1;
}

.nav-item:hover,
.nav-item.active {
    color: var(--color-black);
    font-weight: 600;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--color-black);
    transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        background-color: #2c3e50;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-links {
        flex-direction: column;
        padding: 20px 0;
    }

    .nav-links li {
        margin: 10px 0;
    }
}


/* Home */
/* Hero Section */
.hero-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('assets/img/Home Background Image.jpg') no-repeat center center/cover;
    /* background-color: var(--color-primary-dark); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.5s ease-in-out;
}

/* Overlay content */
.overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    position: relative;
    color: #000;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    text-align: center;
}

.text-box h1 {
    font-size: 3.5rem;
    font-weight: 500;
    color: #030200;
    line-height: 32px;
}

.text-box h2 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 10px;
    line-height: 32px;
}

.text-box span {
    font-weight: 900;
    cursor: pointer;
    position: relative;
}



/* Gun Icon Motion */
.gun-icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 120px;
    transform: translateY(-50%);
    animation: shakeGun 2s infinite ease-in-out;
}

/* Tea Icon Motion */
.tea-icon {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 100px;
    animation: steamUp 3s infinite ease-in-out;
}

/* Gun Shake Animation */
@keyframes shakeGun {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }

    25% {
        transform: translateY(-48%) rotate(-5deg);
    }

    50% {
        transform: translateY(-50%) rotate(5deg);
    }

    75% {
        transform: translateY(-52%) rotate(-5deg);
    }

    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}

/* Tea steam effect */
@keyframes steamUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}